@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.propriedade-1 {
  background-color: darkkhaki;
}
.propriedade-2 {
  background-color: rgb(137, 189, 107);
}
.propriedade-3 {
  background-color: rgb(128, 192, 245);
}
.propriedade-4 {
  background-color: rgb(215, 169, 226);
}
.propriedade-5 {
  background-color: rgb(247, 197, 188);
}
